[submodule "vim/_vim/bundle/ack"]
	path = vim/_vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/_vim/bundle/nerdtree"]
	path = vim/_vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/_vim/bundle/patchreview"]
	path = vim/_vim/bundle/patchreview
	url = https://github.com/junkblocker/patchreview-vim.git
[submodule "vim/_vim/bundle/vim-git"]
	path = vim/_vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "vim/_vim/bundle/vim-fugitive"]
	path = vim/_vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/_vim/bundle/vim-surround"]
	path = vim/_vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
